@model SurfBoardsv2.Models.Board

@{
    ViewData["Title"] = "Rentsww";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rent a surfboard</h1>

<div>
    <h4>Be sure to check the information before you rent</h4>
    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thickness)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thickness)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.volume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.volume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment)
        </dd>
        
        
       
    </dl>
  
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
