@model SurfBoardsv2.Models.Rent
@using SurfBoardsv2.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<SurfBoardsv2User> UserManager

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Rent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*Item1 = Rent and Item2 = Board*@
        @if (Model != null && Model.RentedBoard != null)
        {
            <p>Selected board: @Model.RentedBoard.Name</p>
            <p>User: @Model.BoardRenter.GetFullName()</p>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RentPickDate" class="control-label"></label>
                    <input asp-for="RentPickDate" class="form-control" type="date" min="@DateTime.Now"
                           onfocus="this.setAttribute('min', this.value)"
                           oninput="validateRentPickDate(this)" />
                    <span asp-validation-for="RentPickDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RentDropDate" class="control-label"></label>
                    <input asp-for="RentDropDate" class="form-control" type="date" min="@DateTime.Now.AddDays(1)"
                           onfocus="this.setAttribute('min', this.value)"
                           oninput="validateRentDropDate(this)" />
                    <span asp-validation-for="RentDropDate" class="text-danger"></span>
                </div>

                <a asp-action="Confirmation" asp-controller="Rent" class="btn btn-primary">Rent</a>
                @*<button id="rent-surfboard-button" type="submit" formaction="@Url.Action("Create", "Rent")" class="w-100 btn btn-lg btn-primary">Rent</button>*@

                <script>
                    const rentSurfboardBtn = document.getElementById('rent-surfboard-button');

                    rentSurfboardBtn.addEventListener('click', function () {
                        return confirm('Are you sure you want to rent this board?');
                    });
                </script>

            </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Boards">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
