@model Tuple<SurfBoardsv2.Models.Rent, SurfBoardsv2.Models.Board, SurfBoardsv2.Models.SurfBoardsv2User>
@using SurfBoardsv2.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<SurfBoardsv2User> UserManager

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Rent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*Item1 = Rent, Item2 = Board and Item3 = SurfBoardsv2User*@
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Item1.Id" />
            <div class="form-group">
                <label asp-for="@Model.Item1.RentPickDate" class="control-label"></label>
                <input asp-for="@Model.Item1.RentPickDate" class="form-control" />
                <span asp-validation-for="@Model.Item1.RentPickDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item1.RentDropDate" class="control-label"></label>
                <input asp-for="@Model.Item1.RentDropDate" class="form-control" />
                <span asp-validation-for="@Model.Item1.RentDropDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item2.Name" class="control-label"></label>
                <input asp-for="@Model.Item2.Name" class="form-control" />
                <span asp-validation-for="@Model.Item2.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item3.GetFullName()" class="control-label"></label>
                <input asp-for="@Model.Item3.GetFullName()" class="form-control" />
                <span asp-validation-for="@Model.Item3.GetFullName()" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item3.Email" class="control-label"></label>
                <input asp-for="@Model.Item3.Email" class="form-control" />
                <span asp-validation-for="@Model.Item3.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item3.UserName" class="control-label"></label>
                <input asp-for="@Model.Item3.UserName" class="form-control" />
                <span asp-validation-for="@Model.Item3.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
