@model IEnumerable<SurfBoardsv2.Core.ViewModels.RentViewModel>

@{
    ViewData["Title"] = "Rents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rents</h1>

<p>
    <a asp-action="AdminCreate">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentPickDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentDropDate)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.BoardName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.UserFullName)
            </td>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RentPickDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentDropDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoardName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserFullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
