@model IEnumerable<SurfBoardsv2.Models.Board>
@using SurfBoardsv2.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<SurfBoardsv2User> SignInManager
@inject UserManager<SurfBoardsv2User> UserManager


@{
    ViewData["Title"] = "Vores Boards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Boards</h1>
@if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<form asp-controller="boards" asp-action="Index" Method="get">
    <p>
        Søgefelt: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thickness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var board in Model)
        {
            <tr>
                <td>@board.Name</td>
                <td>@board.Length</td>
                <td>@board.Width</td>
                <td>@board.Thickness</td>
                <td>@board.Volume</td>
                <td>@board.Type</td>
                <td>@board.Price kr.</td>
                <td>@board.Equipment</td>
                <td>
                    <img src="@Url.Content("~/Images/"+board.ImageFileName)" style="height:25%;width:25%;object-fit:cover;" />
                </td>
                <td>@(board.IsAvailable ? "Ledig" : "Ikke Ledig")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@board.Id">Details</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@board.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@board.Id">Delete</a>
                    }
                    @if (SignInManager.IsSignedIn(User) && board.IsAvailable)
                    {
                        <a asp-action="Create" asp-controller="Rent" asp-route-boardId="@board.Id" class="btn btn-primary">Rent</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
